/* Mobile (≤ 600px) */
@media (max-width: 600px) {
    html, body {
        font-size: 100%;
    }
    body {
        height: auto;
    }
    #content-main {
        justify-content: center;
    }
    .alert-container .alert-content {
        width: 50%;
        height: 30vh;
    }
}

/* Tablet (601px – 900px) */
@media (min-width: 601px) and (max-width: 900px) {
    html, body {
        font-size: 100%;
    }
    body {
        height: auto;
    }
    #content-main {
        justify-content: center;
    }
    .alert-container .alert-content {
        width: 50%;
        height: 30vh;
    }
}

/* Laptop (901px – 1200px) */
@media (min-width: 901px) and (max-width: 1200px) {
    html, body {
        font-size: 100%;
    }
}

/* Desktop (≥ 1201px) */
@media (min-width: 1201px) {
    html, body {
        font-size: 100%;
    }
}