/* Mobile (≤ 600px) */
@media (max-width: 600px) {
    html, body {
        font-size: 60%;
    }
    #header-content {
        left: 0;
        width: 30%;
        background: none;
    }
    #header-content.active {
        background-color: #BDC3C7;
    }
    #header-content #header-container {
        display: none;
    }
    #main-content {
        margin: 0;
        max-width: 100%;
        padding: 1rem;
    }
    #contact .contact-container {
        flex-wrap: wrap;
    }
    #footer-content {
        margin: 0;
    }
    /* #header-content {
        display: none;
    } */
    /* #header-content {
        left: 0;
        background: none;
        padding: 0;
    }
    #header-content.active {
        padding: 2rem;
        background-color: #BDC3C7;
        width: 40%;
        padding: 0;
    }
    #header-content #header-container {
        width: 50%;
        display: none;
    }
    #main-content {
        margin: 2rem;
        max-width: 90%;
    }
    #main-content #home {
        height: 50vh;
    }
    #contact .contact-container {
        flex-wrap: wrap;
    }
    #footer-content {
        margin: 0;
    } */
}

/* Tablet (601px – 900px) */
@media (min-width: 601px) and (max-width: 900px) {
    html, body {
        font-size: 80%;
    }
    #header-content {
        left: 0;
        width: 30%;
        background: none;
    }
    #header-content.active {
        background-color: #BDC3C7;
    }
    #header-content #header-container {
        display: none;
    }
    #main-content {
        margin: 0;
        max-width: 100%;
        padding: 1rem;
    }
    #contact .contact-container {
        flex-wrap: wrap;
    }
    #footer-content {
        margin: 0;
    }
}

/* Laptop (901px – 1200px) */
@media (min-width: 901px) and (max-width: 1200px) {
    html, body {
        font-size: 100%;
    }
    #header-content {
        left: 10rem;
    }
    #main-content {
        margin-left: 25rem;
    }
    #footer-content {
        margin-left: 20rem;
    }
}

/* Desktop (≥ 1201px) */
@media (min-width: 1201px) {
    html, body {
        font-size: 100%;
    }
}