:root {
    --primary: #A5F2F3;
    --p2: #fff;
    --text: #000;
}

/* CSS Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    text-decoration: none;
    list-style: none;
    -webkit-text-size-adjust: 100%;
}

/* CSS Reset For HTML5 */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Body Styles */
body {
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: 
        "header main"
        "header footer";
    min-height: 100vh;
    font-family: "National Park", sans-serif;
    line-height: 1.6;
    background-color: var(--p2);
    scroll-behavior: smooth;
}

/* Header Styles */
header {
    grid-area: header;
    background-color: var(--primary);
    color: var(--text);
    padding: 1.25rem;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 20%;
    box-shadow: 0.6rem 0 1rem rgba(0, 0, 0, 0.2);
    place-items: center;
    animation: slideIn 1s ease-out;
}

header img {
    height: auto;
    width: 100%;
    margin: 5rem 0;
}

header li a {
    color: var(--text);
    padding: 1rem;
    line-height: 2.5rem;
    font-weight: 700;
    font-size: 1.2rem;
    transition: color 0.3s;
}

header li a:hover {
    color: var(--p2);
    text-decoration: underline;
}

.social ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(90px, 1fr));
    gap: 1rem;
    padding-top: 2rem;
    text-align: center;
}

.social img {
    width: 30%;
    height: auto;
}

.social img:hover {
    width: 35%;
}

/* Main Styles */
main {
    grid-area: main;
    padding: 2rem;
    margin-left: 11rem;
}

/* Container Styles */
.container {
    margin-bottom: 1rem;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    animation: fadeIn 2s ease-in-out;
}

.container h1 {
    font-size: 3rem;
    font-weight: 800;
    margin: 2rem 0;
    text-align: center;
    color: var(--text);
}

.container h2 {
    font-size: 1.5rem;
    font-weight: 700;
    margin: 1rem 0;
    color: var(--text);
}

.container p {
    font-size: 1.2rem;
    font-weight: 400;
    margin: 1rem 0;
}


/* Hero Styles */
.container .hero {
    background-image: url('../../image/bg.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    place-content: center;
    place-items: center;
}

.container .hero h1 {
    font-size: 2rem;
    font-weight: 800;
}

.container .hero p {
    font-size: 1.5rem;
    font-weight: 500;
    text-align: center;
}

.container .hero a {
    font-size: 1.2rem;
    color: var(--text);
    padding: 1rem;
    display: block;
    margin-top: 2rem;
    background-color: var(--primary);
    border-radius: 1rem;
    cursor: pointer;
    box-shadow: 0.6rem 0 1rem rgba(0, 0, 0, 0.2);
}

.container .hero a:hover {
    background-color: var(--p2);
}

/* Content Styles */
.container .content #profile {
    margin: 2rem 0;
    text-align: center;
}

.container .content #profile img {
    max-width: 30%;
    height: auto;
    border: 1px solid var(--p4);
    border-radius: 0.5rem;
    box-shadow: 0.3rem 0.6rem 0.5rem rgba(0, 0, 0, 0.5);
}

.container .content .row {
    background-color: var(--primary);
    padding: 1rem;
    border-radius: 1rem;
}

.container .content figcaption {
    font-style: italic;
    color: var(--text);
    margin-top: 1rem;
    font-weight: 500;
    font-size: 1.1rem;
}

.container .content .card {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    text-align: center;
    gap: 3rem;
    margin: 3rem 0;
}

.container .content .card img {
    width: 100%;
    height: auto;
    cursor: pointer;
}

.container .content .skill {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 3rem;
    padding: 2rem;
    text-align: center;
    margin: 3rem 0;
}

.container .content .skill object {
    width: 20%;
    border: 0.5rem solid var(--p2);
    border-radius: 1rem;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.container .content .skill object:hover {
    transform: scale(1.05);
    animation: shake 0.5s ease-in-out;
}

/* Project Styles */
.container .project {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2.5rem;
    margin-bottom: 2rem;
}

.container .project h2, .container .project-website h2, .container .project-self h2 {
    grid-column: 1 / -1;
    margin-bottom: 1rem;
    text-align: center;
    margin: 3rem 0;
}

.container .project .row img {
    width: 100%;
    height: auto;
    cursor: pointer;
    transition: transform 0.2s;
    border-radius: 1rem;
    animation: fadeIn 2s ease-in-out;
}

.container .project .row img:hover {
    transform: scale(1.1);
    border-radius: 0.5rem;
    box-shadow: 0.3rem 0.6rem 0.5rem rgba(0, 0, 0, 0.5);
}

/* Project Website Styles */
.container .project-website {
    display: grid;
    grid-template-columns: 1fr;
    gap: 3rem;
}

.container .project-website img {
    width: 100%;
    height: auto;
    cursor: pointer;
}

.container .project-website img:hover {
    animation: bounce 2.5s infinite;
}

.container .project-website a {
    display: block;
    color: var(--text);
    font-size: 1.2rem;
    font-weight: 600;
    background-color: var(--primary);
    padding: 1rem 0.1rem;
    border-radius: 1rem;
    margin-top: 2rem;
    width: 10%;
    text-align: center;
    border: 0.2rem solid var(--text);
}

.container .project-website a:hover {
    background-color: var(--p2);
}

/* Project Self Styles */
.container .project-self {
    display: grid;
    grid-template-columns: 1fr;
}

.container .project-self .row-self {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 2rem;
}

.container .project-self .row-self img {
    width: 100%;
    height: auto;
}

/* Contact Styles */
.container .contact {
    display: grid;
    grid-template-columns: 1fr;
}

.container .contact form {
    padding: 5rem 2rem;
    text-align: center;
}

.container .contact .input-group {
    align-items: center;
    margin-top: 1rem;
}

.container .contact .input-group input {
    width: 30%;
    padding: 1rem;
    font-size: 1rem;
    color: var(--text);
    margin-left: 1rem;
}

.container .contact .btn {
    margin-top: 2rem;
    display: inline-block;
    padding: 1rem 4rem;
    color: var(--text);
    background-color: var(--primary);
    cursor: pointer;
    border-radius: 1rem;
    place-content: center;
    place-items: center;
}

.container .contact .btn:hover {
    background-color: var(--p2);
    color: var(--text);
}


/* Footer Styles */
footer {
    grid-area: footer;
    background-color: var(--primary);
    color: var(--text);
    padding: 1rem;
    place-items: center;
    font-size: 1.2rem;
    font-weight: 700;
}

/* Fiture */
/* Open Image On Click Mouse */
.lightbox {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.lightbox-img {
    max-width: 90%;
    max-height: 90%;
}

#close {
    position: absolute;
    top: 20px;
    right: 30px;
    color: var(--p2);
    font-size: 30px;
    cursor: pointer;
}

/* Scroll Up Styles */
.scroll-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 1.2rem;
    font-size: 1rem; 
    background-color: var(--primary); 
    color: var(--text); 
    border-radius: 10%; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    transition: transform 0.3s ease, opacity 0.3s ease; 
    z-index: 1000; 
    opacity: 0; 
    transform: translateX(20px);
}

.scroll-top.active {
    opacity: 1;
    transform: translateX(0);
}

.scroll-top:active {
    transform: scale(0.9);
    transition: transform 0.1s ease;
}

.scroll-top:hover {
    background-color: var(--p2); 
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

/* Icons Styles */
.icons {
    color: var(--text);
}

.icons:hover {
    color: var(--primary);
}

/* Keyframes */
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-30px);
    }
    60% {
        transform: translateY(-15px);
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes slideIn {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes shake {
    0% { transform: translateX(0); }
    25% { transform: translateX(-5px); }
    50% { transform: translateX(5px); }
    75% { transform: translateX(-5px); }
    100% { transform: translateX(0);}
}

  
/* Media Queries */
/* Mobile Devices */
@media screen and (max-width: 600px) {
    html {
        font-size: 80%;
    }
    body {
        grid-template-columns: 1fr;
    }
    .container .hero {
        text-align: center;
    }
    .container .hero h1 {
        font-size: 2rem;
    }
    /* body {
        grid-template-columns: 1fr;
        grid-template-areas: 
            "header"
            "main"
            "footer";
    }

    header {
        width: 100%;
        position: relative;
        height: auto;
    }

    main {
        margin-left: 0;
        padding: 0.625rem;
    }

    section {
        padding: 0.625rem;
    } */
}

/* Tablets */
@media screen and (min-width: 601px) and (max-width: 1024px) {
    html {
        font-size: 100%;
    }
    body {
        grid-template-columns:  1fr;
    }
    .social ul {
        grid-template-columns: 1fr;
    }
    .container .hero {
        text-align: center;
    }
    .container .hero h1 {
        font-size: 2rem;
    }
    /* body {
        grid-template-columns: 1fr;
        grid-template-areas: 
            "header"
            "main"
            "footer";
    }

    header {
        height: auto;
    }

    main {
        padding: 1rem;
    } */
}

/* Small Desktops */
@media screen and (min-width: 1025px) and (max-width: 1440px) {
    html {
        font-size: 100%;
    }
    body {
        grid-template-columns: 250px 1fr;
    }
    .social ul {
        grid-template-columns: 1fr;
    }
    .container .hero {
        text-align: center;
    }
    .container .hero h1 {
        font-size: 2rem;
    }
    /* body {
        grid-template-columns: 15rem 1fr;
    }

    main {
        margin-left: 0;
    } */
}

/* Large Desktops */
@media screen and (min-width: 1441px) {
    html {
        font-size: 100%;
    }
    /* section {
        max-width: 1200px;
        margin: 0 auto;
    }
    
    header {
        width: 15rem;
    } */
}

/* Orientation Queries */

/* Gaya untuk orientasi portrait */
@media screen and (orientation: portrait) {
    /* header {
        background-color: #1e1e2f;
    } */
}

/* Gaya untuk orientasi landscape */
@media screen and (orientation: landscape) {
    /* header {
        background-color: #343a40;
    } */
}