@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

:root {
    --color-1: #F5EFE6;
    --color-2: #E8DFCA;
    --color-3: #6D94C5;
    --color-4: #CBDCEB;
}

* {
    font-size: 24px;
    font-family: "Rubik", sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    line-height: 1.6;
}

header, main, section, footer, div, h1, h2, h3, p, img, a {
    display: block;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--color-1);
}

header {
    text-align: center;
    padding: 2rem;
}

header h1 {
    font-size: 1.5rem;
    font-weight: 900;
}

.container {
    padding: 1rem;
}

.container .self-paced-container {
    display: flex;
    gap: 2rem;
}

.container .self-paced-container div {
    flex: 1 1 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    background-color: var(--color-2);
    padding: 1rem;
    text-align: center;
}

.container .self-paced-container div h2 {
    font-size: 1.2rem;
    font-weight: 800;
}

.container .self-paced-container div p {
    font-size: 1rem;
    font-weight: 500;
}

.container .self-paced-container div .eye-icon {
    cursor: pointer;
}

.container-popup {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: auto;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    animation: fadeIn 0.2s ease;
}

.container-popup .content-popup {
    width: 50%;
    height: 90vh;
    background-color: var(--color-2);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.container-popup .content-popup iframe {
    width: 100%;
    height: 80vh;
}

.container-popup .content-popup  #pdf-canvas {
    width: 100%;
    height: 80vh;
}

.container-popup .content-popup #close-btn {
    border: none;
    background: none;
    padding: 0.5rem 2rem;
    background-color: var(--color-4);
    font-size: 1.1rem;
    font-weight: 700;
    cursor: pointer;
}

/* Animasi */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(10px);
  }
}

/* Responsive */
/* Mobile (≤ 600px) */
@media (max-width: 600px) {
    html, body {
        font-size: 100%;
    }
    .container .self-paced-container {
        flex-direction: column;
        width: 100%;
    }
    .container-popup .content-popup {
        width: 100%;
    }
}

/* Tablet (601px – 900px) */
@media (min-width: 601px) and (max-width: 900px) {
    html, body {
        font-size: 100%;
    }
    .container .self-paced-container {
        flex-direction: column;
        width: 100%;
    }
    .container-popup .content-popup {
        width: 100%;
    }
}

/* Laptop (901px – 1200px) */
@media (min-width: 901px) and (max-width: 1200px) {
    html, body {
        font-size: 100%;
    }
}

/* Desktop (≥ 1201px) */
@media (min-width: 1201px) {
    html, body {
        font-size: 100%;
    }
}